<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Liste de mes ventes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="profil()">
        <ion-icon name="profil"></ion-icon>
      </ion-button>
      <ion-button (click)="panier()">
        <ion-icon name="panier"></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon name="logout"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let annonce of annonces">
        <ion-label>{{ annonce.titre }}</ion-label>
        <ion-badge [color]="badgeColor(annonce.status)" class="custom-status">
          {{ displayText(annonce.status) }}
        </ion-badge>
        <ion-button (click)="modifierAnnonce(annonce)">Modifier</ion-button>
        <ion-button (click)="supprimerAnnonce(annonce)">Supprimer</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
