<ion-header>
  <ion-toolbar>
    <ion-title>Ajout d'article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #ajoutArticleForm="ngForm" (ngSubmit)="ajouterArticle()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Titre</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="nouvelArticle.titre"
          name="titre"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea
          [(ngModel)]="nouvelArticle.description"
          name="description"
          required
        ></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Prix</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="nouvelArticle.prix"
          name="prix"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Catégorie</ion-label>
        <ion-select
          [(ngModel)]="nouvelArticle.categorie"
          name="categorie"
          required
        >
          <!-- Liste des catégories -->
          <ion-select-option
            *ngFor="let categorie of categories"
            [value]="categorie"
          >
            {{ categorie }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Saisissez la ville</ion-label>
        <ion-input
          [(ngModel)]="nouvelArticle.localisation"
          (ionInput)="searchCity($event.target.value)"
          name="localisation"
        ></ion-input>

        <div *ngIf="suggestions.length > 0">
          <ion-list>
            <ion-item
              *ngFor="let suggestion of suggestions"
              (click)="selectCity(suggestion)"
            >
              {{ suggestion.display_name }}
            </ion-item>
          </ion-list>
        </div>
      </ion-item>

      <!-- Ajoutez des messages d'erreur si nécessaire -->
      <ion-item *ngIf="ajoutArticleForm.controls['titre']?.hasError('required')">
        <ion-text color="danger">Le titre est requis.</ion-text>
      </ion-item>

      <!-- Ajoutez des messages d'erreur pour les autres champs si nécessaire -->
    </ion-list>
    
    <ion-item>
      <ion-label position="stacked">Photo</ion-label>
      <ion-button (click)="takePicture()">Prendre une photo</ion-button>
      <div  *ngIf="nouvelArticle.image " class="image-container">
        <img [src]="nouvelArticle.image" />
      </div>
    </ion-item>
       
    <ion-button
      type="submit"
      expand="block"
      [disabled]="!ajoutArticleForm.valid"
    >
      Ajouter
    </ion-button>
  </form>
</ion-content>