.custom-image {
    width: 100%; /* Vous pouvez ajuster cette valeur selon vos besoins */
    height: auto; /* Cela garantit que l'aspect ratio de l'image est préservé */
  }
  
  .image-container {
    max-width: 300px; /* Vous pouvez ajuster cette valeur selon vos besoins */
    margin: 0 auto; /* Centre l'image container sur la page */
  }
  