<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mon Panier</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="profil()">
        <ion-icon name="profil"></ion-icon>
      </ion-button>
      <ion-button (click)="panier()">
        <ion-icon name="panier"></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon name="logout"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="articlesInPanier.length > 0">
    <ion-item *ngFor="let article of articlesInPanier">
      {{ article.titre }} - {{ article.prix }}
      <ion-icon
        name="supprimer"
        slot="end"
        (click)="supprimerDuPanier(article)"
      ></ion-icon>
    </ion-item>
  </ion-list>

  <div *ngIf="articlesInPanier.length === 0" class="ion-padding">
    Votre panier est vide.
  </div>
</ion-content>
