<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mon profil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="profil()">
        <ion-icon name="profil"></ion-icon>
      </ion-button>
      <ion-button (click)="panier()">
        <ion-icon name="panier"></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon name="logout"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Leave the previous content here -->
  <!-- Add the div below. The .ion-padding class adds some space around the content -->
  <div class="ion-padding">Bienvenue sur la page des données personnelles</div>
</ion-content>
