<ion-header>
  <ion-toolbar>
    <ion-title>Mon Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-title>Bienvenue sur la page des données personnelles</ion-title>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Prénom</ion-label>
      <ion-text>{{ user?.prenom }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nom</ion-label>
      <ion-text>{{ user?.nom }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nom d'utilisateur</ion-label>
      <ion-text>{{ user?.username }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-text>{{ user?.email }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Mot de passe</ion-label>
      <ion-text>{{ user?.password }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">NPA</ion-label>
      <ion-text>{{ user?.npa }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ville</ion-label>
      <ion-text>{{ user?.ville }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Adresse</ion-label>
      <ion-text>{{ user?.adresse }}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>