<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title
      >Mise à jour du compte de {{user?.nom}} {{user?.prenom}}</ion-title
    >
    <ion-buttons slot="end">
      <ion-button (click)="profil()">
        <ion-icon name="profil"></ion-icon>
      </ion-button>
      <ion-button (click)="panier()">
        <ion-icon name="panier"></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon name="logout"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-title>Bienvenue sur la page des données personnelles</ion-title>
  </div>

  <ng-form #profilForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Prénom :</ion-label>
        <ion-input
          inputmode="text"
          #prenom="ngModel"
          required
          name="prenom"
          [(ngModel)]="profilRequest.prenom"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input
          inputmode="text"
          #nom="ngModel"
          required
          name="nom"
          [(ngModel)]="profilRequest.nom"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Username :</ion-label>
        <ion-input
          inputmode="text"
          #username="ngModel"
          required
          name="username"
          [(ngModel)]="profilRequest.username"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">E-mail :</ion-label>
        <ion-input
          inputmode="email"
          #email="ngModel"
          required
          name="email"
          [(ngModel)]="profilRequest.email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mot de passe :</ion-label>
        <ion-input
          inputmode="text"
          type="password"
          #password="ngModel"
          required
          name="password"
          [(ngModel)]="profilRequest.password"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">NPA</ion-label>
        <ion-input
          inputmode="text"
          #npa="ngModel"
          required
          name="npa"
          [(ngModel)]="profilRequest.npa"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Ville</ion-label>
        <ion-input
          inputmode="text"
          #ville="ngModel"
          required
          name="ville"
          [(ngModel)]="profilRequest.ville"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Adresse</ion-label>
        <ion-input
          inputmode="text"
          #adresse="ngModel"
          required
          name="adresse"
          [(ngModel)]="profilRequest.adresse"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="onSubmitModif(profilForm)"
      >Modifier</ion-button
    >

    <ion-button expand="block" (click)="supprimerProfile()" color="danger">
      Supprimer le profil
    </ion-button>
  </ng-form>
</ion-content>
