<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Article</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="profil()">
        <ion-icon name="profil"></ion-icon>
      </ion-button>
      <ion-button (click)="panier()">
        <ion-icon name="panier"></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon name="logout"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <img [src]="annonceDetails.image" class="image-container" />
    <div class="custom-infos">
      <h2 class="titre">{{ annonceDetails.titre }}</h2>
      <p class="description">Description : {{ annonceDetails.description }}</p>
      <p class="prix">CHF {{ annonceDetails.prix }}.-</p>
      <p class="lieu">Lieu de la vente : {{annonceDetails.localisation}}</p>
    </div>
  </div>
  <ion-button
    expand="full"
    color="success"
    (click)="ajouterAuPanier()"
    class="custom-panier"
  >
    Ajouter au panier
  </ion-button>
</ion-content>
