<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Article</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="profil()">
        <ion-icon name="profil"></ion-icon>
      </ion-button>
      <ion-button (click)="panier()">
        <ion-icon name="panier"></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon name="logout"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <!-- Affichez les détails de l'annonce ici -->
    <h2>{{ annonceDetails.titre }}</h2>
    <p>Description:{{ annonceDetails.description }}</p>
    <p>Prix: {{ annonceDetails.prix }}</p>

    <!-- Bouton "Ajouter au panier" -->
    <ion-button expand="full" color="success" (click)="ajouterAuPanier()">
      Ajouter au panier
    </ion-button>
  </div>
</ion-content>
