<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<div class="ion-padding">
  <ion-title>Merci de vous connecter</ion-title>
  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        inputmode="email"
        #email="ngModel"
        required="true"
        name="email"
        [(ngModel)]="authRequest.email"
      ></ion-input>
    </ion-item>
    <!-- Error message displayed if the email is invalid -->
    <ion-text color="danger" *ngIf="email.invalid && email.touched">
      Email is required.
    </ion-text>

    <!-- Password input -->
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        inputmode="text"
        #password="ngModel"
        required="true"
        type="password"
        name="password"
        [(ngModel)]="authRequest.password"
      ></ion-input>
    </ion-item>
    <!-- Error message displayed if the password is invalid -->
    <ion-text color="danger" *ngIf="password.invalid && password.touched">
      Password is required.
    </ion-text>

    <!-- Submit button -->
    <ion-button type="submit" expand="block" [disabled]="loginForm.invalid">
      Log in
    </ion-button>

    <!-- Error message displayed if the login failed -->
    <ion-text color="danger" *ngIf="loginError">
      Email or password is invalid.
    </ion-text>
  </form>
</div>
