<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Accueil</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="logout"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <!-- Affichez les annonces ici -->
    <ion-list *ngIf="annonces && annonces.length > 0">
      <ion-item
        *ngFor="let annonce of annonces"
        (click)="onAnnonceClick(annonce)"
        routerLink="/article/{{ annonce._id }}"
      >
        <ion-label>
          <h2>{{ annonce.titre }}</h2>
          <p>{{ annonce.description }}</p>
          <p>Prix: {{ annonce.prix }}</p>
          <p>Catégorie: {{ annonce.categorie }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Gérer le cas où il n'y a pas d'annonces -->
    <div *ngIf="!annonces || annonces.length === 0">
      Aucune annonce disponible pour le moment.
    </div>

    <!-- Afficher les détails de l'annonce sélectionnée -->
    <div *ngIf="annonceSelectionnee">
      <h2>{{ annonceSelectionnee.titre }}</h2>
      <p>{{ annonceSelectionnee.description }}</p>
      <p>Prix: {{ annonceSelectionnee.prix }}</p>
      <p>Catégorie: {{ annonceSelectionnee.categorie }}</p>
    </div>
  </div>
</ion-content>
