.map {
  height: 100%
}

.custom-theniche{
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.image-container {
  max-width: 300px; 
  margin: 0 auto; 
}

.custom-ouvrir {
  margin-left: 80%;
  margin-top: 0%;
  margin-bottom: 1%;
  width: 20%;
}


.custom-search-bar {
  font-size: 20px; 
  width: 100%;
}


.custom-titre {
  font-size: 30px;
}


.custon-description {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;

}


.custom-prix {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: bold;

}



.custom-categorie {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 8px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.custom-ionlabel {
  height: 550px; 
  width: 350px;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}