<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Accueil</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="profil()">
        <ion-icon name="profil"></ion-icon>
      </ion-button>
      <ion-button (click)="panier()">
        <ion-icon name="panier"></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon name="logout"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-button id="open-modal" expand="block">Ouvrir la carte</ion-button>
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Voici les annonces</ion-title>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Fermer</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <div
            class="map"
            leaflet
            [leafletOptions]="mapOptions"
            (leafletMapReady)="onMapReady($event)"
            [leafletLayers]="mapMarkers"
          ></div>
        </ion-content>
      </ng-template>
    </ion-modal>
    <!-- Affichez les annonces ici -->
    <ion-list *ngIf="annonces && annonces.length > 0">
      <ion-item
        *ngFor="let annonce of annonces"
        (click)="onAnnonceClick(annonce)"
        routerLink="/article/{{ annonce._id }}"
      >
        <ion-label>
          <h2>{{ annonce.titre }}</h2>
          <p>{{ annonce.description }}</p>
          <p>Prix: {{ annonce.prix }}</p>
          <p>Catégorie: {{ annonce.categorie }}</p>
          <img [src]="annonce.image" class="image-container" />
        
          
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Gérer le cas où il n'y a pas d'annonces -->
    <div *ngIf="!annonces || annonces.length === 0">
      Aucune annonce disponible pour le moment.
    </div>

    <!-- Afficher les détails de l'annonce sélectionnée -->
    <div *ngIf="annonceSelectionnee">
      <h2>{{ annonceSelectionnee.titre }}</h2>
      <p>{{ annonceSelectionnee.description }}</p>
      <p>Prix: {{ annonceSelectionnee.prix }}</p>
      <p>Catégorie: {{ annonceSelectionnee.categorie }}</p>
    </div>
  </div>
</ion-content>
